<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd ">
	
	
	<!-- 第一步：创建JobDetailFactoryBean ，指定实现Job接口的任务类 -->
	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="cn.itcast.bos.job.BosJob" />
	</bean>
	<!-- 第二步：定义触发器 -->
	<bean id="simpleTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<!-- 注入：任务类 -->
		<property name="jobDetail" ref="jobDetail" />
		<!-- 服务启动后3秒开始 ，单位是毫秒 -->
		<property name="startDelay" value="3000" />
		<!-- 每1个小时执行一次 ，单位是毫秒 -->
		<property name="repeatInterval" value="3600000" />
	</bean>

	<!-- 第三步：执行触发器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobFactory" ref="jobFactory"></property>
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
</beans>